<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.authorName }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="icon" href="{{ site.favicon }}" type="image/svg+xml" />
  <title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  {{ content | safe }}  

</body>
</html>