* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 125%;
}

body {
  max-width: 70ch;
  margin-inline: auto;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  padding: 1rem;
}

body :not(li):not(h1):not(:last-child):not(svg) {
  margin-bottom: 1rem;
}

code {
  background-color: #eee;
  padding: 2px 4px;
}

h1 a {
  text-decoration: none;
}

a {
  color: inherit;
}

ol, ul {
  padding-left: 0;
  list-style-position: inside;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer {
  color: #777;
  font-size: .875rem;
}

picture {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.flex-row {
  display: flex;
  align-items: center;
  > :not(:last-child) {
    margin-right: .5em;
  }
}